table
{
    border-collapse: collapse;
}
td
{
    border: 1px solid black;
    background-color: white;
}
th
{
    border: 1px solid black;
    background-color: lightGray;
    font-weight: bold;
}
.yellow
{
    background-color: yellow;
}
.lightGray
{
    background-color: lightGray;
}
.boldText
{
    font-weight: bold;
}
.redText
{
    color: red;
}
.bold
{
    font-weight: bold;
}
.boldItalic
{
    font-weight: bold;
    font-style: italic;
}
.right
{
    text-align: right;
}
.sup
{
    vertical-align: baseline;
	font-size: 0.8em;
	position: relative;
	top: -0.4em;
}